version: 2.1

jobs:
  build:
    parallelism: 2
    working_directory: ~/repo
    docker:
      - image: cypress/base:18.16.0
        environment:
          TERM: xterm # Enable colors in the output
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "package-lock.json" }}
            - v2-deps-
      - run: npm install
      - run: npm run build
      # Need a second install to run:
      #   - npx @knapsack-pro/jest
      #   - npx @knapsack-pro/cypress
      # See https://github.com/npm/cli/issues/4591#issuecomment-1111557730
      - run: npm install
      - save_cache:
          paths:
            - node_modules
            - packages/core/node_modules
            - packages/jest/node_modules
            - packages/jest-example-test-suite/node_modules
            - packages/cypress/node_modules
            - packages/cypress-example-test-suite/node_modules
            - ~/.npm
            - ~/.cache
          key: v2-deps-{{ checksum "package-lock.json" }}
      - run: npm run lint
      - run: npm run test:core:coverage
      - store_artifacts:
          path: packages/core/coverage
      - run:
          working_directory: ./packages/jest-example-test-suite
          command: |
            export KNAPSACK_PRO_ENDPOINT=https://api-staging.knapsackpro.com
            npx @knapsack-pro/jest
      - run:
          working_directory: ./packages/cypress-example-test-suite
          command: |
            export KNAPSACK_PRO_ENDPOINT=https://api-staging.knapsackpro.com
            npx @knapsack-pro/cypress
      - run: npm run test:cra
